/* === COLOR VARIABLES === */
:root{
    --theme-1: #D7D8F5; /* background */
    --theme-2: #2600AD; /* dark */
    --theme-3: #B638FF; /* mid */
    --theme-4: #EB3BDA; /* mid-light */
    --theme-5: #fff ; /* light */
}

/* === GLOBALS === */
body {
	font: 100% Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
    background: var(--theme-1);
}

main {
	/*border: 1px solid #000;*/
	clear: left;
	margin-top: 7px;
	padding: 1em;
    background: var(--theme-5);
    
    -webkit-border-radius: 0 0 8px 8px; /* Android â‰¤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 0 0 8px 8px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
}

main h1 {
	margin: 1em 0 0;
	text-shadow: 1px 1px 3px #888; /* Chrome, Firefox 3.5+, IE 10+, Opera 9+, Safari 1+ */
}

main .intro {
	font-size: 1.2em;
}

main p {
	font-size: .875em;
	line-height: 1.5;
}

main p:first-line {
	font-size: 1.1em;
	font-weight: bold;
}

.container{
    display: flex;
    flex-flow: row wrap;
}
/* different basic types of (flex) containers */
.centered{
    justify-content: center;
    align-items: center;
}
.inner{
    width: 90%;
    flex-flow: column nowrap;
}


/* === HEADER === */
.container[role="banner"]{
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    padding: 0 10px;
}

h1.logo{
    color: var(--theme-2);
}

header{
    background: var(--theme-1);
}

div[role="banner"] p{
    color: #fff;
}

/* === FOOTER === */
.footer li{
    list-style: none;
}
.container.footer{
    flex-flow: column nowrap;
    padding: 2em 0;
    font-size: 80%;
}
.container.site-map{
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
.footer p{
    text-align: center;
}



/* === DROPDOWN NAV BAR === */
.nav,
.nav ul {
    background: var(--theme-2);
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav {
    min-height: 1.3em;
    overflow: auto;
    padding: 10px 10px 10px 16px;

}
.nav a {
    color: var(--theme-5);
    display: block;
    font-weight: bold;
    text-decoration: none;
}
.nav li {
    float: left;
    width: 10em;
}
.nav li a:hover,
.nav li:hover > a {
    color: var(--theme-3);
}
/* configure submenus */
.nav .submenu {
    margin-left: -10px;
    padding: 10px 10px 15px;
    
    left: -999em;
    position: absolute;
    z-index: 1000;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}
.nav li:hover .submenu {
    display: block;
    left: auto;
    width: 10em;
}
.nav .submenu li {
    float: none;
    font-size: 0.875em;
    margin-top: .5em;
    width: auto;
}

/* === Breadcrumb Navigation === */
.breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumb li {
	display: inline;
	font-size: .8125em;
	font-weight: bold;
	padding: 5px 5px 0 0;
}

.breadcrumb li a {
	color: #648dc7;
	padding-right: 3px;
}

.breadcrumb li:after {
   content: " > ";
}

.breadcrumb li:last-child:after {
   content: "";
}


/* === Homepage Layout Settings === */
.homepage-about{
    width: 100%;
}

.quicknav-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 100%;
}
figure{
    padding: 5px;
    border-width: 2px;
    border-style: solid;
}

.homepage-container{
    justify-content: center;
}

.homepage-bottom{
    flex: 1;
    min-width: 300px;
}

